@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background: rgb(6,1,79);
  background: linear-gradient(90deg, rgba(6,1,79,1) 0%, rgba(1,1,1,1) 51%, rgba(19,11,102,1) 100%);
  color: rgb(141, 156, 255);
  font-family: 'Poppins', Times, serif;  
}

.display-task {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-card {
  background-color: rgba(26, 54, 82, 0.645);
  border-radius: 25px;
  height: 600px;
  width: 400px;
  padding-top: 20px;
  margin: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  
  & h1 {
    font-size: 1.7rem;
  }
}

li {
  color: #fff;
  font-weight: 500;
}